<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Strike Zone - Centro de Bowling{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/ver.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>
<body>
    <header>
        <style>
            header, .header-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 30px;
            }
    
            .nav-menu {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
            }
    
            .nav-menu li {
                margin: 0 15px;
            }
    
            .nav-menu a {
                color: black;
                text-decoration: none;
            }
    
            .nav-menu a:hover {
                color: #f0f0f0;
            }
        </style>
        <div class="header-container">
            <a href="{% url 'index' %}" class="logo">Strike Zone</a>
            <nav>
                <ul class="nav-menu">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'reserva' %}">Reservar</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'misreservas' %}">Mis Reservas</a></li>
                    {% endif %}
                    <li><a href="{% url 'contacto' %}">Contacto</a></li>
                </ul>
            </nav>
    
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                    
                    {% if user.is_superuser %}
                        <form action="{% url 'admin:index' %}">
                            <button type='submit' class="btn btn-register">Administrar</button>
                        </form>
                        <!-- Dropdown menu for "Ver" -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownVer" data-bs-toggle="dropdown" aria-expanded="false">
                                Ver
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownVer">
                                <li>
                                    <form action="{% url 'ver_reservas' %}">
                                        <button type="submit" class="dropdown-item">Ver Reservas</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{% url 'ver_pedidos' %}">
                                        <button type="submit" class="dropdown-item">Ver Pedidos</button>
                                    </form>
                                </li>
                                <li>
                                    <form action="{% url 'ver_pistas' %}">
                                        <button type="submit" class="dropdown-item">Ver Pistas</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <form action="{% url 'logout' %}">
                        <button type='submit' class="btn btn-login">Cerrar Sesión</button>
                    </form>
    
                {% else %}
                    <form action="{% url 'login' %}">
                        <button type='submit' class="btn btn-login">Iniciar Sesión</button>
                    </form>
    
                    <form action="{% url 'registrar' %}">
                        <button type='submit' class="btn btn-register">Registrarse</button>
                    </form>
                    
                {% endif %}
            </div>
        </div>
    </header>
    <br><br><br><br>
    <div class="container">
        <h2><i class="fas fa-edit mr-2"></i>Editar Pedido</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.estado.id_for_label }}" class="col-form-label"><i class="fas fa-flag mr-2"></i>{{ form.estado.label }}</label>
                {{ form.estado }}
            </div>
            <div class="form-group">
                <label for="{{ form.fecha_hora_pedido.id_for_label }}" class="col-form-label"><i class="far fa-calendar-alt mr-2"></i>{{ form.fecha_hora_pedido.label }}</label>
                {{ form.fecha_hora_pedido }}
            </div>
            <div class="form-group">
                <label for="{{ form.id_reserva.id_for_label }}" class="col-form-label"><i class="fas fa-bookmark mr-2"></i>{{ form.id_reserva.label }}</label>
                {{ form.id_reserva }}
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary mr-2"><i class="fas fa-save mr-2"></i>Guardar Cambios</button>
                <a href="{% url 'ver_pedidos' %}" class="btn btn-secondary"><i class="fas fa-times mr-2"></i>Cancelar</a>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>