<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Strike Zone - Centro de Bowling{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    {%load static%}
    <link rel="stylesheet" href="../static/css/ver.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>
<body>
    <header>
        <style>
            header, header-container{
                display: flex; 
                align-items: center;
                justify-content: space-between; 
                padding: 20px 30px; 
            }
            
            .nav-menu {
                display: flex; 
                list-style: none; 
                padding: 0; 
                margin: 0; 
            }
            
            .nav-menu li {
                margin: 0 15px;
            }
            
            .nav-menu a {
                color: black; 
                text-decoration: none; 
            }
            
            .nav-menu a:hover {
                color: #f0f0f0;
            }
        </style>
        <div class="header-container">
            <a href="{% url 'index' %}" class="logo">Strike Zone</a>
            <nav>
                <ul class="nav-menu">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    
    
                    
    
                    <li><a href="{% url 'reserva' %}">Reservar</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'misreservas' %}">Mis Reservas</a></li>
                    {% endif %}
    
                    
    
                    
    
                    
                    <li><a href="{% url 'contacto' %}">Contacto</a></li>
                </ul>
            </nav>
            

            

            <div class="auth-buttons">
                {% if user.is_authenticated %}
                
                {% if user.is_superuser %}
                    <form action="{% url 'admin:index' %}">
                        <button type='submit' class="btn btn-register"  >Administrar</button>
                    </form>
                    <form action="{% url 'ver_reservas' %}">
                        <button type='submit' class="btn btn-primary">Ver Reservas</button>
                    </form>
                {% endif %}
                <form action="{% url 'logout' %}">
                    <button type='submit' class="btn btn-login"  >Cerrar Sesión</button>
                </form>

                
                {% else %}
                <form action="{% url 'login' %}">
                    <button type='submit' class="btn btn-login"  >Iniciar Sesión</button>
                </form>

                <form action="{% url 'registrar' %}">
                    <button  type='submit' class="btn btn-register"  >Registrarse</button>
                </form>
                
                
                {% endif %}
            </div>
        </div>
    </header>

    <main>
       
    
        
        <div class="container">
            <h2><i class="fas fa-list-alt mr-2"></i>Lista de Reservas</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><i class="fas fa-hashtag mr-2"></i>ID</th>
                            <th><i class="fas fa-user mr-2"></i>Cliente</th>
                            <th><i class="fas fa-bowling-ball mr-2"></i>Pista</th>
                            <th><i class="far fa-calendar-alt mr-2"></i>Fecha y Hora</th>
                            <th><i class="fas fa-info-circle mr-2"></i>Estado</th>
                            <th><i class="fas fa-cogs mr-2"></i>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reserva in reservas %}
                        <tr>
                            <td>{{ reserva.id_reserva }}</td>
                            <td>{{ reserva.id_cliente.nombre }}</td>
                            <td>{{ reserva.id_pista }}</td>
                            <td>{{ reserva.fecha_hora_reserva }}</td>
                            <td><span class="badge badge-pill badge-info">{{ reserva.ultimo_estado.estado }}</span></td>
                            <td>
                                <a href="{% url 'editar_reserva' reserva.id_reserva %}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-edit mr-1"></i>Editar</a>
                                <a href="{% url 'cancelar_reserva' reserva.id_reserva %}" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt mr-1"></i>Cancelar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        

        
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        // Scroll suave
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

